# VSCode related
.metals
.vscode

# cocotb related
__pycache__
.pytest_cache

# SpinalHDL related
hardware/spinal/target
hardware/spinal/project
hardware/spinal/simWorkspace
hardware/spinal/tmp
hardware/src/hdl/*/*.v

# Design related
hardware/spinal/src/main/scala/ddr3/scripts/ddr3_parameter_generation
hardware/spinal/src/main/scala/ddr3/scripts/ddr3_parameter_generation.v
hardware/spinal/src/main/scala/ddr3/device_parameters.scala

# Simulation related
*.fst
*.vcd
*.gtkw
*.o
*.vpi
*.vvp