# VSCode related
.metals
.vscode

# cocotb related
__pycache__
.pytest_cache

# SpinalHDL related
hardware/spinal/target
hardware/spinal/project
hardware/spinal/simWorkspace
hardware/spinal/tmp
hardware/src/hdl/*/*.v

# Design related
hardware/spinal/src/main/scala/ddr3/scripts/ddr3_parameter_generation
hardware/spinal/src/main/scala/ddr3/scripts/ddr3_parameter_generation.v
hardware/spinal/src/main/scala/ddr3/device_parameters.scala

# Simulation related
*.fst
*.vcd
*.gtkw
*.o
*.vpi
*.vvp

# Vivado related
.Xil/
vivado*.jou
vivado*.log
program.log
tight_setup_hold_pins.txt

# Synthesis related
syn.log
post_synth_timing_summary.rpt
post_synth_util.rpt
post_synth.dcp

# PnR related
pnr.log
post_imp_drc.rpt
post_place_timing_summary.rpt
post_place_util.rpt
post_place.dcp
post_route_power.rpt
post_route_status.rpt
post_route_timing_summary.rpt
post_route.dcp
*.bit
